
.bgnav{
    background-color: #20252A;
}
.bgb {
    background-color: #161A1D;
  }

a{
        list-style: none;
        text-decoration: none;
}
.textdeco a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 11px
    
}
.textdeco h6{
    font-size: 11px

}


.footer-size{
    height: 25%;
}
form label{
    color: white;
}

.icon-size{
    font-size: 20px
 
}

.nav-item a:hover{
    color: yellow;

}
#bgform{
    background-color: rgba(128, 128, 128, 0.219);
   
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}    


/* alert */

